<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573708915211-eldd4unfttavqbsjgev1ue13h10iaumg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573708915211-eldd4unfttavqbsjgev1ue13h10iaumg</string>
	<key>API_KEY</key>
	<string>AIzaSyDawdMcZ2hT52DlLMVaeEaQEb0WdDZbXgE</string>
	<key>GCM_SENDER_ID</key>
	<string>573708915211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCounter123</string>
	<key>PROJECT_ID</key>
	<string>mycounter123-77622</string>
	<key>STORAGE_BUCKET</key>
	<string>mycounter123-77622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573708915211:ios:3b37e4a5677d786bf22d0e</string>
</dict>
</plist>